<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <a href="{% url 'logout' %}">Logout</a>
    
    {% else %}
    <a href="{% url 'login' %}">Login</a> 
    {% endif %}
    
    <hr>
    <h3>Student Details</h3>
    <h2>student: {{student.student.get_full_name}}</h2>
    <h4>Email Adress: {{student.student}}</h4>
    <h4>Class Year: {{student.classYear}}</h4>
    <h4>Semester: {{student.semester}}</h4>
    
    <!-- Display Objects -->
    <h4>Courses:</h4>
    {% for c in course %}
        <li>{{ c.title}}</li>
    <h4>Exams:</h4>
    {% for e in exam %}
        <li>{{ e.title}} - Grade: {{ e.exam_grade }}</li>

            
    {% endfor %}
    <!-- If object_list is empty  -->
    {% empty %}
    <li>No objects yet.</li>
    {% endfor %}
</body>
</html>